body {
    background: url("img/background.jpg");
    background-size: cover;
    margin: 0;
    font-family: 'Asap', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

nav {
    background-color: rgb(36, 35, 35);
    width: 100%;
    padding: 10px 0 10px 0;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    padding-right: 40px;
}
li: last-of-type {
    padding-right: none;
}
li:hover {
    cursor: pointer;
}
